.home{
    display: flex;

    .homeContainer{
        flex: 6;

        .widgets,.charts{
          display: flex;
          padding: 2rem;
          gap:2rem;
        }
        .charts{
          padding: 5px 2rem;
        }
        .listContainer{
          -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.8);
          -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.8);
          box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.8);
          padding: 2rem;
          margin: 2rem;

          .listTitle{
            font-weight: 500;
            color: gray;
            margin-bottom:1.1rem;
          }
        }
    }
}

