.table{


    .cellWrapper{
        display: flex;
        align-items: center;
        gap: 1rem;

        img{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: contain;
        }
    }
    .status{
        padding: .3rem;
        border-radius: .5rem;


        &.Approved{
           color: green;
           background-color: rgba(0,128,0,0.151);
        }

        &.Pending{
           color: goldenrod;
           background-color:rgba(189,189,3,0.130);
        }
    }
}